*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "primary";
  src: url("../assets/fonts/font.ttf");
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
}

canvas {
  position: fixed;
  inset: 0;
}

img {
  display: none;
}

audio {
  display: none;
}
